<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Shoof.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>41</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
				<key>dateExpires</key>
				<string>9/23/23</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AHDownloadButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DownloadButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>5.15.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>5.15.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FSPagerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.8.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseABTesting.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfig.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>7.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainAccess.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>4.2.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>5.15.8</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Koloda.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NFDownloadButton.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Pageboy.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>3.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Parchment.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>3.21.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>10.34.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>10.34.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Shimmer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>5.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TBKNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Tabman.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7603579AAF5F02A4BEF772D7A1CFF40445D07888</string>
						<key>dateExpires</key>
						<string>9/23/23</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>pop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UV99SUU7BS</string>
						<key>name</key>
						<string>Shoof Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.12</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>UV99SUU7BS.com.AppChief.ShoofCinema</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:cinema.shoofnetwork.net</string>
				</array>
				<key>com.apple.developer.networking.wifi-info</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>UV99SUU7BS</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Shoof.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f685014b-d90d-4592-b81b-beac9c22fa51</string>
				<key>dateExpires</key>
				<string>9/23/23</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.AppChief.ShoofCinema</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>UV99SUU7BS</string>
				<key>name</key>
				<string>Shoof Ltd</string>
			</dict>
			<key>versionNumber</key>
			<string>2.5</string>
		</dict>
	</array>
</dict>
</plist>
