<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406257965863-869ilvu3cvbs28k51ittddba8se865eh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406257965863-869ilvu3cvbs28k51ittddba8se865eh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>406257965863-27jo0u1bujohm5b6qulncd21eejacnjk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSj4cw1y0mxcPR5jjB37Z5LqBycL0qssc</string>
	<key>GCM_SENDER_ID</key>
	<string>406257965863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.365show.365Show</string>
	<key>PROJECT_ID</key>
	<string>show-bda3a</string>
	<key>STORAGE_BUCKET</key>
	<string>show-bda3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406257965863:ios:2cf517b4f760bf37a22702</string>
</dict>
</plist>