<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141498298880-0cbg7j0lla354h7nrb8cl4ao8mt2ib5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141498298880-0cbg7j0lla354h7nrb8cl4ao8mt2ib5b</string>
	<key>API_KEY</key>
	<string>AIzaSyCk2eSy7reQ4Nq6nA5o7Z5l2kifevhQJzs</string>
	<key>GCM_SENDER_ID</key>
	<string>141498298880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AppChief.ShoofCinema</string>
	<key>PROJECT_ID</key>
	<string>shoof-ee72a</string>
	<key>STORAGE_BUCKET</key>
	<string>shoof-ee72a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141498298880:ios:0d16325ddcbceae6101ee5</string>
</dict>
</plist>